.canvas{
  height:160px !important;
  width:160px !important;
  text-align:center !important;
  transform:translate(-50%);
  //background:red;
  margin-top:5px;
  left:50%;
  position:relative;
}
.container{
  //background:blue;
  margin-bottom:10px;
  position:relative;
  height:auto;
}