.sidebar{
  width:100px;
  height:100%;
  background-color: var(--darkgray);
  color:var(--white);
  li{
    padding:15px;
    border-bottom:1px solid var(--white);
    &:hover{
      background-color: var(--lightred);
    }
    &:first-child{
      border-top:1px solid var(--white);
    }
  }
}